# Math Library

In [2]:
import math

In [3]:
# gcd() greatest common divisor

# returning the gcd of 15 and 5 
print("The gcd of 5 and 15 is : ", end="") 
print(math.gcd(5,15))

The gcd of 5 and 15 is : 5

In [4]:
# ceiling and floor

a = 10.24
print(math.ceil(a))
print(math.floor(a))

11
10

In [5]:
#absolute value (fabs)

a = -10

print(math.fabs(a))
print ("The absolute value of", a ," is : ", math.fabs(a)) 

b = -20
abs(b)

10.0
The absolute value of -10  is :  10.0

20

In [6]:
# returning the factorial of 5

b = 5

print ("The factorial of 5 is : ", end=" ") 
print (math.factorial(b))

The factorial of 5 is :  120

# Random Library

In [36]:
import random

random.randint(1, 10)

2

In [41]:
random.random()

0.5948990277263133

In [43]:
for i in range(5):
    print(random.randrange(3, 100, 5))

3
78
38
43
33

In [10]:
random.randrange(6, 100, 6)

12

In [44]:
coin_toss = ['head', 'tail']
print("And it is : ", random.choice(coin_toss))

And it is :  head

# time

In [45]:
import time

# time() 

seconds = time.time()
print("Seconds since epoch =", seconds)

# January 1, 1970, 00:00:00 at UTC is epoch (the point where time begins).

Seconds since epoch = 1576390151.226736

In [13]:
s1 = time.time()

In [46]:
# ctime()

# seconds passed since epoch

local_time = time.ctime(seconds)
print("Local time:", local_time)
type(local_time)

Local time: Sun Dec 15 11:39:11 2019

str

In [48]:
# sleep()

print("This is printed immediately.")
time.sleep(10)
print("This is printed after 10 seconds.")

This is printed immediately.
This is printed after 10 seconds.

In [49]:
# The localtime() function returns struct_time in local time.

result = time.localtime()
print("result:", result)

# year = int(result.tm_year)

print("\nyear:", result.tm_year)
print("month: ", result.tm_mon)
print("day: ", result.tm_mday)
print("tm_hour:", result.tm_hour)
print("minute: ", result.tm_min)
print("weekday: ", result.tm_wday)        # 0 >> monday

result: time.struct_time(tm_year=2019, tm_mon=12, tm_mday=15, tm_hour=11, tm_min=41, tm_sec=39, tm_wday=6, tm_yday=349, tm_isdst=0)

year: 2019
month:  12
day:  15
tm_hour: 11
minute:  41
weekday:  6

In [50]:
result = time.gmtime()

print("result: \n", result)
print("\nyear:", result.tm_year)
print("month: ", result.tm_mon)
print("day: ", result.tm_mday)
print("tm_hour:", result.tm_hour)
print("minute: ", result.tm_min)
print("weekday: ", result.tm_wday)

result:
 time.struct_time(tm_year=2019, tm_mon=12, tm_mday=15, tm_hour=6, tm_min=11, tm_sec=50, tm_wday=6, tm_yday=349, tm_isdst=0)

year: 2019
month:  12
day:  15
tm_hour: 6
minute:  11
weekday:  6

# strftime() : string from time

In [52]:
current_time = time.localtime() # get struct_time

print(current_time)
print(type(current_time))

time_string = time.strftime("%m/%d/%Y, %H:%M:%S", current_time)

print(time_string)
# print(type(time_string))

time.struct_time(tm_year=2019, tm_mon=12, tm_mday=15, tm_hour=11, tm_min=43, tm_sec=9, tm_wday=6, tm_yday=349, tm_isdst=0)
<class 'time.struct_time'>
12/15/2019, 11:43:09

# strptime() : converts str to time

In [54]:
time_string = "10 September, 2019"


result = time.strptime(time_string, "%d %B, %Y")
print(result)
# print(type(result))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=10, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=253, tm_isdst=-1)

# RegEx Library

    findall	>>  Returns a list containing all matches

    search	>>  Returns a Match object if there is a match anywhere in the string
    
    split	>>  Returns a list where the string has been split at each match
    
    sub	    >>  Replaces one or many matches with a string

In [20]:
import re

## findall

In [63]:
str1 = "The X x 14 rain 5 in spain - 9898"

x = re.findall("\d\d\d", str1)            # re.findall(expression, string)
print(x)
# x.span()

['989']

AttributeError: 'list' object has no attribute 'span'

In [62]:
y = re.findall("x", str1)
print(y)

['x']

## search

In [67]:
str1 = "The98nbrain in Spain - 9898"

x = re.search("\d\d", str1)
print(x.span())
x.group()

# y = x.span()
# z = x.group()

print(x)

# print(y, z)

# # print(type(z))

(3, 5)
<re.Match object; span=(3, 5), match='98'>

## split

In [68]:
str1 = "The rain in Spain"
x = re.split(" ", str1)
print(x)

['The', 'rain', 'in', 'Spain']

In [72]:
x = re.split(" ", str1, 2)
print(x)

['The', 'rain', 'in Spain']

## sub

In [79]:
str1 = 'Hello world world worldsd'

str2 = re.sub('world', 'friend', str1)
str2

# re.sub?

'Hello friend friend friendsd'

## compile

- ^ == start with
- $ == end with
- .* == all
- [A-Z]== all capital letter
-  [a-z] lower case a-z
- [0-9] digit

In [90]:
exp = re.compile('^Hello.*World$')

y = exp.search('Hello how are       World')
y

In [26]:
str1 = "The rain in Spain"

x = re.sub(" ", "_", str1)
print(x)

y = re.sub("\s", "_", str1, 1)         # specifying the count
print(y)

The_rain_in_Spain
The_rain in Spain

In [92]:
str1 = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[A-Za-m]", str1)        # A-Z and a-m
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

In [95]:
str1 = "From hello world"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("^From.*", str1)
print(x)

['From hello world']

In [30]:
l = ['hello world', 'hello', 'hi', 'friend']

x=[]
for i in s1:
    a = re.search('^h.*', i)
    if a!=None:
        x.append(a.group()) 

print(x)


s = '''hello world hello hi friend'''
s1 = re.split(' ', s)
s1

TypeError: 'float' object is not iterable

# Pandas

In [96]:
import pandas as pd

In [99]:
company   = ['Maruti', 'Honda', 'Hyundai', 'Tata' ]
model     = ['800', 'City', 'i20', 'Indica']
speeds    = [120, 220, 180, 160]
cylinders = [3, 4, 4, 4]
cc        = [800, 1500, 1200, 1200]
p_steering  = [False, True, True, True]

d = {"Company": company, "model": model, "Top Speed": speeds, "Cylinders": cylinders,
     "CC": cc, "Power Steering": p_steering }

In [101]:
df = pd.DataFrame(d)
df
# df.iat[0,1]

   Company   model  Top Speed  Cylinders    CC  Power Steering
0   Maruti     800        120          3   800           False
1    Honda    City        220          4  1500            True
2  Hyundai     i20        180          4  1200            True
3     Tata  Indica        160          4  1200            True

In [102]:
df.iat[0,1]

'800'

In [103]:
len(df)

4

In [104]:
# Name, model which has speed greater than 150 
df[df['Top Speed']>150]

   Company   model  Top Speed  Cylinders    CC  Power Steering
1    Honda    City        220          4  1500            True
2  Hyundai     i20        180          4  1200            True
3     Tata  Indica        160          4  1200            True

In [105]:
df_1 = df[df['Top Speed']>160]
df_1

   Company model  Top Speed  Cylinders    CC  Power Steering
1    Honda  City        220          4  1500            True
2  Hyundai   i20        180          4  1200            True

In [ ]:
df[df['Top Speed']>150]

In [ ]:
df[df['Top Speed']>150]
df

In [ ]:
df.iat[2,1]

In [106]:
df.to_csv("cars.csv")